<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Store - Application</title>
</head>
<body>

<h1>Book Store - Application</h1>

<!-- FORM -->
<form th:action="@{/save}" th:object="${book}" method="post">

    Book Name :
    <input type="text" th:field="*{bookName}" required /><br/><br/>

    Author :
    <input type="text" th:field="*{author}" required /><br/><br/>

    Price :
    <input type="number" th:field="*{price}" required /><br/><br/>

    <button type="submit">Submit</button>
</form>

<hr/>

<!-- TABLE -->
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
    </tr>

    <tr th:each="b : ${books}">
        <td th:text="${b.bookId}"></td>
        <td th:text="${b.bookName}"></td>
        <td th:text="${b.author}"></td>
        <td th:text="${b.price}"></td>
    </tr>
</table>

</body>
</html>
