<!DOCTYPE html>
<html>
<head>
    <title>Book Store - Application</title>
</head>
<body>

<h1>Book Store - Application</h1>

<form action="/save" method="post">
    <label>Book Name</label><br/>
    <input type="text" name="bookName"/><br/><br/>

    <label>Author Name</label><br/>
    <input type="text" name="author"/><br/><br/>

    <label>Book Price</label><br/>
    <input type="number" name="price"/><br/><br/>

    <button type="submit">Submit</button>
</form>

<hr/>

<h2>BVR </h2>
<p>Contact Us : +91 - 1234 56 78 90</p>
<p>Copy Rights @ BVR Academy - 2026</p>

</body>
</html>

