<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Store - Application</title>
</head>
<body>

<h1>Book Store - Application</h1>

<form th:action="@{/save}" method="post" th:object="${book}">
    Book Name :
    <input type="text" th:field="*{bookName}" /><br/><br/>

    Author Name :
    <input type="text" th:field="*{author}" /><br/><br/>

    Book Price :
    <input type="number" th:field="*{price}" /><br/><br/>

    <button type="submit">Submit</button>
</form>

<hr/>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Author Name</th>
    </tr>

    <tr th:each="b : ${books}">
        <td th:text="${b.bookId}"></td>
        <td th:text="${b.bookName}"></td>
        <td th:text="${b.price}"></td>
        <td th:text="${b.author}"></td>
    </tr>
</table>

<hr/>

<hr/>

<h2>BVR </h2>
<p>Contact Us : +91 - 1234 56 78 90</p>
<p>Copy Rights @ BVR Academy - 2026</p>

</body>
</html>

